@import './styles/reset.css';

@import './styles/variables.css';

@import './styles/utils.css';

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}
